<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("assets/pages/head"); %>
  <link rel="stylesheet" type="text/css" href="assets/css/consultas.css">
</head>
<body>
  <%- include("assets/pages/nav"); %>
  <img class="logo" src="assets/SP-Medical Group/assets/img/logo.png"><div class="divisao"></div>
  <div class="informacoes">
  <h1>Suas consultas <%=req.session.name%></h1><br><br><br>

  
    <table class="excel-table" id="datatablesSimple">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Data</th>
                <th>Horário</th>
                <th>Médico</th>
                <th>Informações a mais</th>
            </tr>
        </thead>
        <tbody>
          <ul>
            <% dados.forEach(function(row) { %>
              <table class="excel-table">
                <td><%=row.username%></td><td><%=row.date%></td>
                <td><%=row.horario%></td><td><%=row.medico%></td>
                <td><%=row.informacoesamais%></td> 
              </table>
            <% }); %>
        </ul>
    </tbody>
</table>
</div>
</body>
</html>